body {
  background-color: rgb(180, 200, 200);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(220, 220, 220, 0.75);
}

p {
  margin: 0;
}

p:first-child {
  margin-bottom: 1rem;
}

.text-icon {
  border: none;
  font-size: 1.5rem;
  margin: 0 1rem;
  border: 1px solid rgba(250, 250, 250, 0.95) !important;
  border-radius: 2rem;
  background-color: rgba(250, 250, 250, 0.75);
  transition-duration: 0.15s;
  width: 2rem;
  height: 2rem;
}

.text-icon:hover {
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0 0 5px #212121;
}
